<div id="deleteModal" class="modal-overlay">
  <div class="modal-content delete-confirmation">
    <button class="close-modal" onclick="closeModalWindow()">&times;</button>

    <div class="modal-header">
      <i class="fas fa-exclamation-triangle" style="color: var(--accent-color);"></i>
      <h2> {{t.profile.modal.delete_quation}}</h2>
    </div>

    <p style="color: var(--text-dim); margin-bottom: 25px;">
      {{t.profile.modal.delete_deck}}
    </p>


    <div class="modal-footer">
      <button class="btn-cancel" onclick="closeModalWindow()">{{t.profile.modal.delete_close}}</button>
      <button id="confirmDeleteBtn" class="btn-confirm"
        style="background: #ff3b5c;">{{t.profile.modal.delete_delete}}</button>
    </div>
  </div>
</div>