<div id="editExerciseModal" class="modal-edit-overlay">
  <div class="modal-edit">
    <div class="modal-edit-header">
      <h2 class="modal-edit-title">Редактировать упражнение</h2>
      <button class="modal-edit-close-btn" onclick="closeEditModal()">×</button>
    </div>

    <div class="modal-edit-body">
      <form id="editExerciseForm">

        <div class="form-group-edit">
          <label class="form-label-edit" for="edit-exercise-weight">Вес (кг)</label>
          <input
            type="number"
            id="edit-exercise-weight"
            class="form-input-edit"
            placeholder="Введите вес"
            min="0"
            step="0.5"
          />
        </div>

        <div class="form-group-edit">
          <label
            class="form-label-edit"
            for="edit-exercise-approaches"
          >Подходы</label>
          <input
            type="number"
            id="edit-exercise-approaches"
            class="form-input-edit"
            placeholder="Введите количество подходов"
            min="1"
          />
        </div>
      </form>
    </div>

    <div class="modal-edit-footer">
      <button
        class="modal-edit-cancel-btn"
        onclick="closeEditModal()"
      >Отмена</button>
      <button class="modal-edit-save-btn" onclick="editTask()">Сохранить
        изменения</button>
    </div>
  </div>
</div>