<footer>

  <div class="footer-nav">
    <div class="nav-item " onclick="resetUrl1()">

      <div class="nav-icon gym"></div>
      <div class="nav-label">Тренировка</div>


    </div>
    <div class="nav-item  " onclick="resetUrl()">


      <div class="nav-icon note"></div>
      <div class="nav-label">План тренировок</div>


    </div>
    <div class="nav-item " onclick="resetUrl2()">


      <div class="nav-icon user"></div>
      <div class="nav-label">Профиль</div>


    </div>
  </div>


</footer>