<div class="modal-confirm-overlay" id="confirm-modal">
  <div class="modal-confirm">
    <div class="modal-confirm-header">
      <h2 class="modal-confirm-title">Подтверждение</h2>
      <span class="modal-confirm-close-btn">&times;</span>
    </div>

    <div class="modal-confirm-body">
      <div class="confirm-message">
        <div class="confirm-icon">⚠️</div>
        <div class="confirm-text">Вы действительно хотите завершить тренировку?</div>
        <div class="confirm-details" id="workout-duration">Текущее время:
          00:00:00</div>
      </div>
    </div>

    <div class="modal-confirm-footer">
      <button class="modal-confirm-cancel-btn" id="cancel-confirm-btn">
        Отмена
      </button>
      <button class="modal-confirm-submit-btn" id="confirm-finish-btn">
        Завершить
      </button>
    </div>
  </div>
</div>