<header>
  <h1>План тренировок</h1>
  <div class="week-navigation">
    <div class="week-day active">Пн</div>
    <div class="week-day">Вт</div>
    <div class="week-day">Ср</div>
    <div class="week-day">Чт</div>
    <div class="week-day">Пт</div>
    <div class="week-day">Сб</div>
    <div class="week-day">Вс</div>
  </div>
</header>